.gform_wrapper{
  .gf-no-labels{
    label{
      position: absolute;
      left:-9999px;
    }
  }
}
.gform_wrapper{
  img{
    width:auto;
  }
}
.gform_wrapper{
  .gf-style-bb{
    //
    margin:0;
    position: relative;
    //
    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
      padding:10px 15px;
      border:1px solid #ccc;
    }
    .gform_footer{
      margin:0;
    }
    //
    //
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    input[type="range"],
    input[type="date"],
    textarea{
      width:100%;
      border-radius: 4px;
      margin:0;
    }
    //
    .gfield{
      margin-top:10px;
    }
    //
  }
}
.gform_confirmation_message{
  text-align: center;
  display: block;
  padding:1.387em;
  border:1px solid #ccc;
  border-radius: 4px;
}
