#sb-site .panel-grid-cell .widget:first-child, #main-content .fl-widget .widget:first-child{
  margin-top:0;
}
#sb-site .so-panel h3.widget-title,#sb-site .fl-widget .widgettitle{
  font-size:30px;
  text-align: center;
  margin-bottom:40px;
}
