body{
  -webkit-animation: bugfix infinite 1s;
  font-family:'Droid Sans',sans-serif;
  font-size:16px;
  color:black;
  background-color:#eaeaea; //#262626
}
p{
  line-height:1.5;
  font-size:14px;
}
a{
  font-family: 'Droid Sans',sans-serif;
}
a,a:visited{
  text-decoration:none;
}
a:hover,a:focus,button:focus, input[type="submit"]:focus, input[type="search"]:focus{
  text-decoration:none;
  outline:0;
}
ul,ol{
  margin:0;
  padding:0;
}
ol{
  list-style-type:decimal;
  list-style-position:inside;
}
ul{
  list-style:none;
}

label{
  cursor:pointer;
}

img{
  display:block;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-wrapper{
  background-color:transparent;
}
.screen-reader-text{
	position: absolute;
	left:-9999px;
}

h1,h2,h3,h4,h5,h6{
  &, a{
    margin:0;
    font-family: 'Droid Serif',serif;
  }
}

h1{
  font-size:24px;
}
h2{
  &, a{
    font-size:30px;
  }
  margin-bottom:30px;
  @media only screen and (max-width:767px){
    font-size:24px;
    margin-bottom:20px;
  }
}
h3{
  &, a{
    font-size:20px;
  }
  margin-bottom:22px;
  @media only screen and (max-width:767px){
    margin-bottom:20px;
    font-size:18px;
  }
}
h4{
  &, a{
    font-size:18px;
  }
  @media only screen and (max-width:767px){
    font-size:16px;
  }
}
h5{
  font-size:16px;
}
h6{
  font-size:15px;
}

h4,h5,h6{
  margin-bottom:15px;
}
iframe{
  width:100%;
}

.fl{
  float:left;
}
.fr{
  float:right;
}

.seperator{
  margin:0 3px;
}
.special-parent{
  overflow:hidden;
}
.pagination{
  padding:20px 0 0;
  margin:0;
  li{
  	float:left;
  	margin-right:5px;
  }
}

blockquote{
  border-left:none;
  margin-bottom:10px;
}

.firstcharacter{
  float:left;
  font-size:60px;
  padding-top:4px;
  line-height:56px;
  padding-right:20px;
}

.highlighter{
  display:inline-block;
  padding:2px 6px;
  color:$white;
}

.highlighter.grey{
  background-color:$dark-grey;
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#sb-site{
	min-height: 100px;
}
.parallax-image{
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size:cover;
}
.logo-with-menu-icon, #main-content, .footer-content{
  max-width:767px;
  margin:0 auto;
}
.box-shadow{
  -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
.box-shadow-negative{
  -webkit-box-shadow: -2px -2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: -2px -2px 0px 0px rgba(0,0,0,0.75);
}
.page article,.single-post article .the-content{
  a{
    font-size:14px;
  }
  ul{
    margin-bottom:30px;
  }
  li{
    margin-left:15px;
    font-size:14px;
    margin-bottom:5px;
  }
  ol{
    li{
      list-style-type: decimal;
    }
  }
  ul{
    li{
      list-style-type: disc;
    }
  }
  .a11yAccordion, .tabs-nav{
    &, li{
      margin:0;
      padding:0;
      list-style: none;
    }
  }
  .a11yAccordion{
    li,ul{
      margin-bottom:20px;
    }
  }
}
button{
  cursor: pointer;
}
