//---------------Declaring color schemes-----------------------

//---------------palette 1-----------------------
$main-color:#526d3b; //Military Green
$secondary-color: #f1f1f1; // Dark Brown
$nav-background: #898a7c; //Light Military Green
$nav-color: #fff;
$border-color:#ccc;
$black:#000;
$white:#fff;
$light-grey:#aaa;
$lighter-grey:#b1b1b1;
$lightest-grey:#f6f6f6;
$darker-grey:#262626;
$dark-grey:#5e666b;
$dark-grey-border:#4c555b;
$light-black: #212324;
$lighter-black: #181818;
$project-background:#f7f7f8;
$perfect-grey:#828282;
$nearly-white:#ececec;

//-----------------Edd Gutter -----------------
$edd-gutter: 1.387em;

//-----------------Paddings--------------------
$primary-nav-padding:30px;
$menu-padding:10px;

//----------Search Height and Width------------
$search-wh-value: 25px;
$search-po-wh-value: 32px;

//---------------Header Height-----------------
$mobile-header-height: 50px;
