.logo-with-menu{
  margin-bottom:30px;
  .header-content{
    padding-top:0;
    padding-bottom:0;
    align-items: stretch;
  }
  .logo-and-tagline-container{
    width:30%;
    padding:15px 0;
    @media only screen and (max-width:1019px){
      width:75%;
    }
  }
  #menu-primary{
    width:85%;
    display: flex;
    justify-content: flex-end;
  }
  .menu > li{
    height: 100%;
    > a{
      position: relative;
      top:50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .menu-and-cart{
    width:70%;
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width:1019px){
      width:25%;
    }
    > a{
      align-self: center;
    }
    #menu-primary{
      @media only  screen and (max-width:1019px){
        display:none;
      }
    }
    .mobile-menu-toggle{
      @media only  screen and (min-width:1020px){
        display:none;
      }
    }

    .cart, .mobile-menu-toggle{
      font-size:18px;
    }
  }
}
