#main-content{
  #sb-site &{
    margin-top:40px;
    margin-bottom:40px;
    @media only screen and (max-width:767px){
      margin-top:15px;
    }
  }
  .widget{
    margin-top:70px;
    @media only screen and (max-width:767px){
      margin-bottom:40px;
    }
    &:first-child{
      margin-top:70px;
    }
  }
}
h3.content-section-title,#comments h3{
  text-align: center;
  font-size:26px;
}
.wp-video{
  margin-bottom:1rem;
}
.article-content{
  > {
    h3,h4,h5,h6{
      margin-top:30px;
    }
  }
}
